
#logo {
  width: 50%;
  height: 50%;
}

.item {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "arlette", sans-serif;
}

.portada {
  background-color: grey;
  background-size: cover;
}

.informacion {
  background-color: brown;
  color: beige;
  height: 100px;
  margin-top: 2.5%;
  font-family: "Poppins", sans-serif;
}
