.cuadrado {
    width: 300px;
    height: 150px;
    position: relative;
    display: inline-block;
    background-color: white;
    border-color: black;
    border-style:solid;
    border-width: 2px;
}