.navbar-brand{
    background-color: #F2D4AE;
    font-family: Poppins;
    color: #353128;
    font-weight:600;
    max-width: 100%;
 }

 .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
 }

 .nav-item {
    list-style-type: none;
 }

 .contenedorportada img {
    width: 100%;
 }

.contenedorportada h1 {
    color: #C17830;
    font-family: Arlette;
    text-align: center;
    padding-top: 5%;
    
 }
